<?xml version="1.0" encoding="UTF-8"?>
<package version="3.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="BookId" xml:lang="ja">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
    <dc:title>{{ book_title }}</dc:title>
    <dc:language>ja</dc:language>
    <dc:identifier id="BookId">{{ book_id }}</dc:identifier>
    {% for author in authors -%}
    <dc:creator id="aut-{{ loop.index0 }}">{{ author }}</dc:creator>
    <meta refines="#aut-{{ loop.index0 }}" property="role" scheme="marc:relators">aut</meta>
    {% endfor -%}
    <meta property="dcterms:modified">2022-04-06T22:27:45Z</meta>
  </metadata>
  <manifest>
    <item properties="nav" id="nav" href="nav.xhtml" media-type="application/xhtml+xml" />
    <item properties="cover-image" id="{{ cover_image | shift_path | dot_to_hyphen }}" href="{{ cover_image }}" media-type="image/jpeg" />
    <item media-type="text/css" id="epub-css" href="style.css"/>
    {% for md in order -%}
    <item id="{{ md | md_ext_to_xhtml | dot_to_hyphen }}" href="{{ md | md_ext_to_xhtml }}" media-type="application/xhtml+xml" />
    {% endfor -%}
    {% for image in images -%}
    <item id="{{ image | shift_path | dot_to_hyphen}}" href="{{ image }}" media-type="image/jpeg" />
    {% endfor -%}
    {% for font in fonts -%}
    <item id="{{ font | shift_path | dot_to_hyphen }}" href="{{ font }}" media-type="application/vnd.ms-opentype" />
    {% endfor -%}
  </manifest>
  <spine page-progression-direction="ltr">
    {% for md in order -%}
    <itemref idref="{{ md | md_ext_to_xhtml | dot_to_hyphen }}" />
    {% endfor -%}
  </spine>
</package>
