<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="ja" lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>nav</title>
  </head>
  <body>
    <nav epub:type="toc">
      <ol>
        {%- for md in contents %}
        <li><a href="{{ md | md_ext_to_xhtml }}">{{ md | md_to_title }}</a></li>
        {%- endfor %}
      </ol>
    </nav>
  </body>
</html>
